@font-face {
  font-family: "Gilroy-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/app/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("/app/fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("/app/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("/app/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("/app/fonts/Gilroy-SemiBold.woff2") format("woff2"),
    url("/app/fonts/Gilroy-SemiBold.woff") format("woff");
}
